body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling if needed */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    z-index: -1; /* Ensure it stays behind all other content */
}

.jpbrook {
    position: relative;
    top: 100;
    left: 20%;
    display: inline-block;
}

.jpbrook-img {
    width: 100%;
    height: 60%;
    object-fit: cover; 
}

.hover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0;
    transition: opacity 0.3s ease;
    size: 200%;
}

.jpbrook:hover .hover-text {
    opacity: 1;
}
