body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #b99125;
    color: white;
    padding: 40px;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    background-color: #a5b446;
}
